<p-card>
    <div class="grid">
        <div class="col-12">
            <p-fieldset legend="My App Status" [toggleable]="true">
                <h4>Your current app Status : <p-badge value="Threatened" size="xlarge" severity="warning"></p-badge>
                </h4>
            </p-fieldset>
            <div class="mt-2">
                <p-fieldset legend="My subscribed App" [toggleable]="true">
                    <p-dataView #dv [value]="applications" layout="list">
                        <ng-template let-application pTemplate="listItem">
                            <div class="col-12">

                                <div class="product-list-item">
                                    <div class="col-12 grid">
                                        <div class="col-3">
                                            <img [src]="'assets/img/' + application.image" [alt]="application.image" />
                                        </div>
                                        <div class="product-list-detail col-1">
                                            <div class="product-name">{{application.name}}</div>
                                            <div class="product-description">{{application.description}}</div>
                                            <i class="pi pi-tag product-category-icon"></i><span
                                                class="product-category">{{application.category}}</span>
                                        </div>
                                        <div class="col-1" style="text-align:center">
                                            Today<br>
                                            <ng-container *ngIf="application.statusToday==='NOTHING' else notNothing">
                                                <p-badge value="OK" size="xlarge" severity="success"></p-badge>
                                            </ng-container>
                                            <ng-template #notNothing>
                                                <p-badge value="X" size="xlarge" severity="danger"></p-badge>
                                            </ng-template>
                                        </div>
                                        <div class="col-1" style="text-align:center">
                                            J-5<br>
                                            <ng-container *ngIf="application.statusJ7==='NOTHING' else notNothing">
                                                <p-badge value="OK" size="xlarge" severity="success"></p-badge>
                                            </ng-container>
                                            <ng-template #notNothing>
                                                <p-badge value="X" size="xlarge" severity="danger"></p-badge>
                                            </ng-template>
                                        </div>
                                        <div class="col-1" style="text-align:center">
                                            J-10<br>
                                            <ng-container *ngIf="application.statusJ15==='NOTHING' else notNothing">
                                                <p-badge value="OK" size="xlarge" severity="success"></p-badge>
                                            </ng-container>
                                            <ng-template #notNothing>
                                                <p-badge value="X" size="xlarge" severity="danger"></p-badge>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </p-fieldset>
            </div>
        </div>
    </div>
</p-card>