<p-card>
    <h2>What is SPAMBEE</h2>
    <p>SPAMBEE is a tool that allows you to easily handle suspicious emails and notify them to experts who will make a
        complete diagnosis of each transmitted email. Once processed, these emails will feed a database of senders to
        ban. This "bocklist" will be shared with all SPAMBEE users. In this way the anti-spam filter will be enhanced
        thanks to the participation of each user.</p>

    <a style="background: #FFD54F" href="https://spambee.lu/">Visit SPAMBEE web-site</a>

    <h2>Why using SPAMBEE</h2>
    <p>Because we will be able to fight against phishing more efficiently if we fight all together. One bee alone can't
        do anything, a swarm of bees is powerfull.</p>
</p-card>