
<div *ngIf="login!==''" class="grid" (window:resize)="onResize($event)">
<!-- -->
    <p-image class="col-fixed" src="assets/img/logo.png" alt="Image" width="40px"></p-image> 
    <p-tabMenu class="col" [model]="items" [activeItem]="items[0]">
        <ng-template pTemplate="item" let-item let-i="index">
            
            <i class="{{item.icon}}"></i>
            <div *ngIf="desktop">{{item.label}}</div>

        </ng-template>
    </p-tabMenu>

    <ng-container *ngIf="login!=='' && isB2B"> 
        <p-image class="col-1 text-right" src="assets/img/bee-profesionnal.jpg" alt="Image" width="40px"></p-image> 
    </ng-container>
    <ng-container *ngIf="login!=='' && isB2B===false"> 
        <p-image  class="col-1 text-right" src="assets/img/bee-particular.jpg" alt="Image" width="40px"></p-image> 
    </ng-container>
</div>
<!-- The routed views render in the <router-outlet>-->

<router-outlet></router-outlet>

