<div class="card mt-5">

    <div class="grid">
        <div class="col-12 lg:col-5">

            <p-fieldset legend="Personal informations" [toggleable]="true">
                <div class="grid">
                    <div class="col-3 lg:col-2">
                        LastName :
                    </div>
                    <div class="col lg:col-2">
                        <input type="text" pInputText value="Doe" />
                    </div>
                </div>

                <div class="grid">
                    <div class="col-3 lg:col-2">
                        FirstName :
                    </div>
                    <div class="col lg:col-2">
                        <input type="text" pInputText value="John" />
                    </div>
                </div>

                <div class="grid">
                    <div class="col-3 lg:col-2">
                        Birthdate :
                    </div>
                    <div class="col lg:col-2">
                        <input type="text" pInputText value="??/??/????" />
                    </div>
                </div>

                <div class="grid">
                    <div class="col-3 lg:col-2">
                        Phone :
                    </div>
                    <div class="col lg:col-2">
                        <input type="text" pInputText value="+625 xxx xxx xxx" />
                    </div>
                </div>

                <div class="grid">
                    <div class="col-3 lg:col-2">
                        Email :
                    </div>
                    <div class="col lg:col-2">
                        <input type="text" pInputText value="apificators@post.lu" />
                    </div>
                </div>
            </p-fieldset>

        </div>

        <div class="col-0 lg:col-2">

        </div>

        <div class="col-12 lg:col-5">
            <p-fieldset legend="Alert configuration" [toggleable]="true">
                <div class="field-radiobutton">
                    <p-radioButton name="Email" value="Email" [(ngModel)]="city" inputId="city1"></p-radioButton>
                    <label for="city1">Email</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="Push notification" value="Push notification" [(ngModel)]="city"
                        inputId="city2"></p-radioButton>
                    <label for="city2">Push notification</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="SMS" value="SMS" [(ngModel)]="city" inputId="city1"></p-radioButton>
                    <label for="city1">SMS</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="Voice call" value="Voice call" [(ngModel)]="city" inputId="city3">
                    </p-radioButton>
                    <label for="city3">Voice call</label>
                </div>
            </p-fieldset>
        </div>

        <div class="col-12 lg:col-12">
            <p-fieldset legend="Application subscriptions" [toggleable]="true">
                <div class="text-right"><button pButton type="button" label="Add"></button></div>
                <p-dataView #dv [value]="applications" layout="list">
                    <ng-template let-application pTemplate="listItem">
                        <div class="col-3">
                            <div class="product-list-item">
                                <img [src]="'assets/img/' + application.image" [alt]="application.image" />
                                <div class="product-list-detail">
                                    <div class="product-name">{{application.name}} <i class="pi pi-trash product-category-icon"></i></div>
                                    <div class="product-description">{{application.description}}</div>
                                    <div><i class="pi pi-tag product-category-icon"></i><span
                                        class="product-category">{{application.category}}</span></div> 
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </p-fieldset>
        </div>


    </div>